<div class="header">
  <div class="header-image-container">
    <div class="image-wrapper">
      <img id="daimler-background" class="daimler-image hidden" src="assets/images/daimler_background.jpg" />
    </div>
  </div>

  <mat-toolbar>
    <div class="box-4 toolbar-column-left">
      <div class="box-2">
        <div class="inner app-image-wrapper">
          <img src="../../assets/images/DM-icon.png" alt="DM icon" id="dm-icon-img" class="dm-toolbar-icon">
        </div>
      </div>
      <div class="box-10">
        <div class="inner pl0 ml0">
          <span>
            <h1 class="h6 app-title">DECISIONmanager</h1>
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="box-4 toolbar-column-center">
      <div class="app-image-wrapper">
        <img id="logo-img" class="default-logo" src="assets/images/sapCompanyLogo.gif" style="z-index: 2;" />
      </div>
    </div>
    <!--User actions container-->
    <div class="box-4 toolbar-column-right">
      <div class="user-actions-wrapper">
        <mat-accordion #headerAccordionUser="matAccordion" class="user-actions-container" multi="true">
          <mat-expansion-panel [@.disabled]="true" clickOutside (clickOutside)="headerAccordionUser.closeAll()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="username tablet-hidden">Username UserLastName</span>
                <mat-icon class="user-settings-icon" aria-hidden="false" aria-label="User settings" matTooltip="User settings"
                  color="primary">
                  account_circle
                </mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!--User settings container-->
            <div class="help-container">
              <div class="settings-action" [routerLink]="['/user-settings']" (click)="closeThis(headerAccordionUser)">
                <p>
                  <mat-icon class="list-action-icon" aria-hidden="false" aria-label="Item actions" color="primary">
                    settings</mat-icon><span>User settings</span>
                </p>
              </div>
            </div>
            <!-- / Help container-->

            <!--Help container-->
            <div class="help-container">
              <div class="settings-action" [routerLink]="['/help']" (click)="closeThis(headerAccordionUser)">
                <p>
                  <mat-icon class="list-action-icon" aria-hidden="false" aria-label="Item actions" color="primary">
                    help</mat-icon><span>Help</span>
                </p>
              </div>
            </div>
            <!-- / Help container-->

            <!--Logout container-->
            <div class="logout-container">
              <div class="settings-action logout-wrapper" (click)="closeThis(headerAccordionUser)">
                <button onclick="location.href = '/backend/logout?time=' + new Date().toISOString();">
                  <p>
                    <mat-icon class="list-action-icon" aria-hidden="false" aria-label="Item actions" color="primary">
                      exit_to_app</mat-icon><span>Logout</span>
                  </p>
                </button>
              </div>
            </div>
            <!-- / Logout container-->
          </mat-expansion-panel>
        </mat-accordion>
        <!-- / User actions container-->
        <div class="clearfix"></div>
      </div>
    </div>
  </mat-toolbar>
  <!---->
  <mat-toolbar color="accent">
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a mat-button [routerLink]="['/global']">Global elements</a>
      <a mat-button [routerLink]="['/wizard']">Evaluation</a>
      <a mat-button [routerLink]="['/']">Dashboard</a>
      <!-- <a mat-button [routerLink]="['/login']">Login</a>
      <a mat-button [routerLink]="['/forgottenPassword']">Forgotten password</a>
      <a mat-button [routerLink]="['/reset-password']">Reset password</a> -->
      <a mat-button [routerLink]="['/decisions']">Decisions</a>
      <a mat-button [routerLink]="['/reports']">Documentation</a>
      <!-- <a mat-button [routerLink]="['/search']">Search</a> -->
    </div>
    <div fxShow="true" fxHide.gt-sm="true">

      <!-- <a href="#" (click)="sidenav.toggle()">Show Side Menu</a> -->
      <button class="sidenav-btn" mat-icon-button color="primary" (click)="sidenav.toggle()" aria-label="Display menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a mat-button [routerLink]="['/global']">Global elements</a>
        <a mat-button [routerLink]="['/']">Dashboard</a>
        <a mat-button [routerLink]="['/wizard']">Wizard</a>
        <a mat-button [routerLink]="['/login']">Login</a>
        <a mat-button [routerLink]="['/forgottenPassword']">Forgotten password</a>
        <a mat-button [routerLink]="['/reset-password']">Reset password</a>
        <a mat-button [routerLink]="['/decisions']">DMN models</a>
        <a mat-button [routerLink]="['/reports']">Reports</a>
        <a mat-button [routerLink]="['/search']">Search</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="box-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!---->



</div>
