<div class="header">
  <mat-toolbar>
    <img style="max-width: 200px;" src="assets/images/wts-global-logo.svg" />
    <span style="flex: 1 1 auto;"></span>

    <div class="search-container inner tablet-hidden">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. Lorem" value="" type="text" />
        <a [routerLink]="['/search']" title="search">
          <mat-icon class="input-icon search-icon" aria-hidden="false" aria-label="Example delete icon">search
          </mat-icon>
        </a>
      </mat-form-field>
    </div>
    <div class="search-container inner tablet-displayed">
      <a [routerLink]="['/search']" title="search">
        <mat-icon class="input-icon search-icon" aria-hidden="false" aria-label="Example delete icon">search
        </mat-icon>
      </a>
  </div>
    <mat-accordion #headerAccordion="matAccordion" class="user-actions-container"
      (clickOutside)="onClickedOutsideAccordion($event)" multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="username">Username X.</span>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">account_circle
            </mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" (click)="onSetTheme('dark-theme','')">Light theme</button>
        <button mat-raised-button color="primary" (click)="onSetTheme('','dark-theme')">Dark theme</button>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-toolbar>
  <!---->
  <mat-toolbar color="accent">
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a mat-button [routerLink]="['/global']">Global elements</a>
      <a mat-button [routerLink]="['/']">Dashboard</a>
      <a mat-button [routerLink]="['/wizard']">Wizard</a>
      <a mat-button [routerLink]="['/login']">Login</a>
      <a mat-button [routerLink]="['/forgottenPassword']">Forgotten password</a>
      <a mat-button [routerLink]="['/reset-password']">Reset password</a>
      <a mat-button [routerLink]="['/decisions']">DMN models</a>
      <a mat-button [routerLink]="['/reports']">Reports</a>
      <a mat-button [routerLink]="['/search']">Search</a>
    </div>
    <div fxShow="true" fxHide.gt-sm="true">

      <!-- <a href="#" (click)="sidenav.toggle()">Show Side Menu</a> -->
      <button class="sidenav-btn" mat-icon-button color="primary" (click)="sidenav.toggle()" aria-label="Display menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a mat-button [routerLink]="['/global']">Global elements</a>
        <a mat-button [routerLink]="['/']">Dashboard</a>
        <a mat-button [routerLink]="['/wizard']">Wizard</a>
        <a mat-button [routerLink]="['/login']">Login</a>
        <a mat-button [routerLink]="['/forgottenPassword']">Forgotten password</a>
        <a mat-button [routerLink]="['/reset-password']">Reset password</a>
        <a mat-button [routerLink]="['/decisions']">DMN models</a>
        <a mat-button [routerLink]="['/reports']">Reports</a>
        <a mat-button [routerLink]="['/search']">Search</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div class="box-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!---->



</div>
