@import "../../assets/styles/variables";
@import "../../assets/styles/global";

::ng-deep .mat-toolbar .mat-accordion {
  z-index: 2;
  width: 165px;
  position: relative;
  height: auto;
}
::ng-deep
  .mat-toolbar
  .mat-accordion
  > .mat-expansion-panel-spacing:first-child {
  margin-top: 0;
}
::ng-deep .mat-toolbar .mat-expansion-panel-header {
  width: auto;
  padding: 10px;
  height: 64px;
}
::ng-deep .mat-toolbar .mat-expansion-panel-body {
  padding: 24px 16px;
}
::ng-deep
  .mat-toolbar
  .mat-expansion-panel:not(.mat-expanded)
  .mat-expansion-panel-content {
  button {
    background-color: transparent;
    color: transparent;
  }
}
::ng-deep .mat-toolbar .mat-expansion-panel-content {
  width: auto;
  position: absolute;
  right: 0px;
  padding: 10px;
  background: rgb(255, 255, 255);
  visibility: visible;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
::ng-deep .sidenav-btn .mat-icon {
  margin-left: 0 !important;
}
::ng-deep .mat-toolbar .mat-icon {
  height: 23px;
  width: 23px;
  margin-left: 20px;
}
::ng-deep .mat-toolbar .search-container .mat-icon {
  margin-left: 0;
}
::ng-deep
  .mat-toolbar
  .mat-accordion
  .mat-raised-button.mat-primary:first-child {
  margin-right: 10px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  font-size: 15px;
}

.search-container {
  // margin-right: 30px;
  // height: 40px;
  margin-right: 45px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 10px;
}

.search-container ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 12px;
}

.mat-toolbar .mat-form-field {
  font-size: 15px;
}
.mat-toolbar
  ::ng-deep
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-0.8em) scale(0.75) perspective(100px)
    translateZ(0.001px);
}

.search-container .search-icon:hover,
.search-container .search-icon:focus,
.search-container .search-icon.active {
  color: #333333;
}

::ng-deep .dark-theme .search-container .search-icon:hover,
::ng-deep .dark-theme .search-container .search-icon:focus,
::ng-deep .dark-theme .search-container .search-icon.active {
  color: #ffffff !important;
}

@media (max-width: $tablet) {
  ::ng-deep .mat-toolbar .mat-accordion {
    width: 60px;
  }
  .username {
    display: none;
  }
  .user-actions-container .mat-icon {
    margin-left: 10px;
  }
  // .user-actions-container .mat-raised-button {
  //   width: 100%;
  //   float: left;
  // }
  .user-actions-container .mat-raised-button:last-child {
    margin-top: 10px;
  }

  .user-actions-container .mat-toolbar.mat-accent {
    margin-bottom: 55px;
  }

  ::ng-deep .mat-toolbar .mat-expansion-panel-header {
    padding-left: 0;
  }
}
