<div class="box-3 documents-container">
  <div class="inner">
    <mat-card class="example-card">
      <h3>Documents</h3>

      <p>Drag and drop files here, or click and browse to
        upload a file:</p>
      <div class="file-upload-container">
        <div class="uploadfilecontainer" (click)="fileInput.click()" appDragDrop (onFileDropped)="uploadFile($event)">
          <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
        </div>
      </div>
      <p>Uploaded files:</p>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef class="documents-table-header"> </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="element-description">
                <span class="element-description-attribution">
                  <div class="box-4">
                    <div class="">
                      <button class="icon-link" mat-button color="accent" *ngIf="element.delete" (click)="openDeleteDialog()">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="box-4">
                    <div class="">
                      <button class="icon-link" mat-button color="accent" *ngIf="element.edit" (click)="openEditDialog()">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </div>
                  <div class="box-4">
                    <div class="">
                      <button class="icon-link" mat-button color="accent" *ngIf="element.copy" (click)="openCopyDialog()">
                        <mat-icon>link</mat-icon>
                      </button>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
          [class.expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </mat-card>
  </div>
</div>
