@import "../../assets/styles/_variables.scss";
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header span {
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::ng-deep .dark-theme .custom-card p {
  color: #ffffff !important;
}

.icon-link:hover .mat-icon,
.icon-link:focus .mat-icon,
.icon-link.active .mat-icon {
  color: $primary-color;
}
.file-upload-container {
  margin-bottom: 30px;
}

.upload-btn {
  width: auto;
  padding: 5px;
  height: 30px;
}

.upload-icon {
  left: 20px;
  bottom: 3px !important;
  position: absolute;
  right: 0px;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn.active {
  background-color: #333333;
}

.uploadfilecontainer {
  background-image: url("../../assets/images/cloud-icon.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  height: 75px;
  width: 100%;
  border: 2px dashed #9ecbec;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

::ng-deep .mat-form-field {
  width: 100%;
}

/*Table*/
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}
.element-description,
td.mat-cell:last-of-type {
  padding: 0 5px !important;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
  width: 100%;
}
.element-description .mat-button {
  display: contents;
}
.element-description-attribution .inner {
  text-align: center;
}
::ng-deep .mat-table thead {
  display: none;
}
::ng-deep table.mat-table {
  box-shadow: none;
  border: none;
}
::ng-deep td.mat-cell:first-of-type,
::ng-deep .element-row td {
  border: none;
}
::ng-deep .mat-cell {
  color: #525f6b;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

tr.mat-row:hover {
  cursor: pointer;
}

@media (max-width: $tablet) {
  .inner {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .custom-card .box-12 .inner {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
  }

  .upload-input .inner {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .element-description-attribution .box-4 {
    width: 33.333332%;
  }
  td.mat-cell:last-of-type {
    text-align: center;
  }
}
