@import "../../assets/styles/_variables.scss";
.ellipsis {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.detail-name {
  font-weight: bold;
}

.edit-container .detail-name {
  color: rgba(0, 0, 0, 0.54);
  font-size: 11px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

::ng-deep .dark-theme .edit-container .detail-name {
  color: rgba(255, 255, 255, 0.7) !important;
}
::ng-deep .daimler-theme.dark-theme .edit-container .detail-name {
  color: #ffffff !important;
}

::ng-deep .decision-description-field {
  min-width: 100%;
}
::ng-deep .decision-description-field textarea {
  overflow-y: hidden !important;
}

::ng-deep .decision-description-field .mat-form-field-wrapper,
::ng-deep
  .decision-description-field
  .mat-form-field-wrapper
  .mat-form-field-flex {
  width: 100%;
  min-width: 180px;
}

.detail-name-wrapper {
  margin-bottom: 5px;
}
.edit-container h2 {
  color: $primary-color;
}

::ng-deep .daimler-theme .edit-container h2 {
  font-size: 2.625rem !important;
  color: #000000 !important;
}

::ng-deep .daimler-theme.dark-theme .edit-container h2 {
  color: #ffffff !important;
}

.icon-link-wrapper {
  margin-bottom: 10px;
  width: 20%;
  margin-left: 10px;
  float: left;
  display: block;
  height: 30px;
}

.docs-title-wrapper {
  width: 70%;
  float: left;
  display: block;
}

.docs-title-wrapper h3 {
  font-size: 34px !important;
}

::ng-deep .report-details-list .mat-list-item {
  height: auto !important;
}
::ng-deep .report-details-list .mat-list-item-content {
  margin-bottom: 15px;
  display: block !important;
  padding: 0 !important;
}
.report-result-header {
  margin-top: 30px;
}
.report-result-header span {
  text-decoration: underline;
}

.report-result {
  padding-bottom: 15px;
}

.report-result p {
  font-weight: bold;
}

.report-result,
.report-details-list .answer {
  font-weight: 500;
}

::ng-deep .daimler-theme .report-result,
::ng-deep .daimler-theme .report-details-list .answer {
  font-weight: 600 !important;
}
.report-result,
.report-details-list .answer,
.report-details-list .question {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
}

.details-actions-container .inner {
  margin-top: 25px;
}

.back-btn {
  margin-left: 80px;
  float: right;
  cursor: pointer;
  width: 50px;
}

.action-btn {
  cursor: pointer;
  float: left;
  width: 50px;
  text-align: right;
}

.check-btn {
  margin-left: 80px;
}

::ng-deep .back-btn:hover .mat-icon,
::ng-deep .back-btn:focus .mat-icon,
::ng-deep .back-btn.active .mat-icon,
::ng-deep .action-btn:hover .mat-icon,
::ng-deep .action-btn:focus .mat-icon,
::ng-deep .action-btn.active .mat-icon {
  color: #333333;
}
::ng-deep .dark-theme .back-btn:hover .mat-icon,
::ng-deep .dark-theme .back-btn:focus .mat-icon,
::ng-deep .dark-theme .back-btn.active .mat-icon,
::ng-deep .dark-theme .action-btn:hover .mat-icon,
::ng-deep .dark-theme .action-btn:focus .mat-icon,
::ng-deep .dark-theme .action-btn.active .mat-icon {
  color: #ffffff;
}
::ng-deep .back-btn .mat-icon,
::ng-deep .action-btn .mat-icon {
  font-size: 33px;
}

.action-btn {
  margin-left: 20px;
}

.icon-link:hover .mat-icon,
.icon-link:focus .mat-icon,
.icon-link.active .mat-icon {
  color: $primary-color;
}

::ng-deep .icon-link:hover .mat-icon,
::ng-deep .icon-link:focus .mat-icon,
::ng-deep .icon-link.active .mat-icon {
  color: $primary-color !important;
}
::ng-deep .dark-theme .icon-link:hover .mat-icon,
::ng-deep .dark-theme .icon-link:focus .mat-icon,
::ng-deep .dark-theme .icon-link.active .mat-icon {
  color: #ffffff !important;
}
::ng-deep .daimler-theme .icon-link:hover .mat-icon,
::ng-deep .daimler-theme .icon-link:focus .mat-icon,
::ng-deep .daimler-theme .icon-link.active .mat-icon {
  color: $blue-primary-color !important;
}

.icon-link .mat-line {
  font-size: 14px;
  font-weight: 500;
}

::ng-deep .daimler-theme .edit-container h2 {
  font-size: 2.625rem !important;
}

.edit-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.edit-container .details-actions-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.details-actions-container .details-actions {
  margin-top: 25px;
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1440px) and (min-width: $tablet+1) {
  .docs-title-wrapper h3 {
    font-size: 1.5rem !important;
  }
  ::ng-deep .documents-container td.mat-cell {
    max-width: 185px;
  }
  ::ng-deep .documents-container .file-title {
    display: inline-block;
    width: 140px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    text-align: left;
    margin-left: 5px;
  }

  .back-btn,
  .action-btn {
    width: 30px;
  }
  .details-actions-container .action-btn:first-of-type {
    margin-left: 60px !important;
  }
}

@media (max-width: $tablet) and (min-width: $mobile+1) {
  .details-container .box-9 {
    width: 75% !important;
  }
  .details-actions-container .details-actions {
    position: absolute !important;
  }
  .details-actions-container {
    width: 25% !important;
  }
  .edit-container .box-9 {
    width: 75% !important;
  }
  .back-btn,
  .action-btn {
    width: 35px;
  }
}
@media (max-width: $tablet) {
  .status-field,
  .owner-field {
    margin-bottom: 20px !important;
  }
  .custom-card .inner {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .edit-page-container {
    display: grid;
  }
  .documents-container {
    order: 2;
  }
  .edit-container {
    order: 1;
  }
  .action-btn,
  .back-btn {
    margin-left: 0;
  }
  .check-btn {
    margin-left: 60px;
  }
  .discard-btn {
    margin-left: 10px;
  }
}

@media (max-width: $mobile) {
  .check-btn {
    margin-left: 0;
  }
  .action-btn {
    text-align: left;
  }
}

.file-upload-container {
  margin-bottom: 30px;
}

.upload-btn {
  width: auto;
  padding: 5px;
  height: 30px;
}

.upload-icon {
  left: 20px;
  bottom: 3px !important;
  position: absolute;
  right: 0px;
}

.upload-btn:hover,
.upload-btn:focus,
.upload-btn.active {
  background-color: #333333;
}

.uploadfilecontainer {
  background-image: url("../../assets/images/cloud-icon.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  height: 75px;
  width: 100%;
  border: 2px dashed #9ecbec;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}
/*Table*/
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}
.element-description,
td.mat-cell:last-of-type {
  padding: 0 5px !important;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.file-title {
  padding: 7px 0;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
  width: 100%;
}

.element-description .mat-button {
  display: flex;
  padding: 0px 20px;
}

.element-description-attribution .inner {
  text-align: center;
}
::ng-deep .mat-table thead {
  display: none;
}

::ng-deep .daimler-theme table.mat-table,
::ng-deep table.mat-table {
  box-shadow: none !important;
  border: none;
}

::ng-deep td.mat-cell:first-of-type,
::ng-deep .element-row td {
  border: none;
}
::ng-deep .mat-cell {
  color: $default-grey-color;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.action-box {
  text-align: center;
}
tr.mat-row:hover {
  cursor: pointer;
}
::ng-deep .dark-theme .mat-table {
  box-shadow: none;
}

::ng-deep .dark-theme tr.element-row:not(.expanded-row):hover {
  background-color: #9e9e9e;
}

::ng-deep .daimler-theme.dark-theme tr.element-row:not(.expanded-row):hover {
  background-color: #9e9e9e;
}

::ng-deep .element-row {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
::ng-deep .detail-row {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.icon-link .doc-date {
  display: block;
}

@media (max-width: $tablet) {
  .element-description .box-3 {
    width: 25% !important;
  }

  .inner {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }

  .custom-card .box-12 .inner {
    margin-bottom: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
  }

  .upload-input .inner {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .element-description-attribution .box-4 {
    width: 33.333332%;
  }

  .documents-table .box-11 {
    width: 90%;
  }
  .documents-table .box-1 {
    width: 8%;
  }
  .element-description .box-3 {
    width: 25%;
  }

  .element-description .mat-button {
    display: contents;
  }
}

.uploadfilecontainer {
  background-image: url("../../assets/images/cloud-icon.png");
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: center;
  height: 75px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #9ecbec;
  border-radius: 10px;
}

.delete-file-icon {
  background-image: url("../../assets/images/Recycle_Bin_Full.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  height: 20px;
}
.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px;
}
.files-list .delete-file:hover,
.files-list .delete-file:focus,
.files-list .delete-file.active {
  background: #9ecbec;
  padding: 2px;
  border-radius: inherit;
}
.files-list p {
  margin-bottom: 0;
}

.files-list .delete-file span {
  display: block;
  width: 30px;
}

.file-title {
  display: inline-block;
  width: 210px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-align: left;
  margin-left: 5px;
}

@media (max-width: $desktop) and (min-width: $tablet+1) {
  .file-title {
    width: 150px;
  }
  .element-description .mat-button {
    display: contents;
  }
}
