.checkbox-group,
.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.checkbox,
.radio-button {
  margin: 5px;
}
// ::ng-deep .mat-step-header[ng-reflect-active="false"] {
//   display: none;
// }

// ::ng-deep
//   .mat-step-header[ng-reflect-active="false"]
//   + .mat-stepper-vertical-line::before {
//   display: none;
// }
// ::ng-deep .mat-stepper-vertical-line::before {
//   bottom: 0px !important;
// }

// // ::ng-deep .mat-stepper-vertical-line::before{    bottom: 0px !Important;}
// ::ng-deep .mat-step[aria-labelledby="hidden-step"] {
//   display: none;
// }
::ng-deep .mat-step:not(:first-child) {
  display: none;
}
::ng-deep .mat-step.displayed-step {
  display: block;
}
