@import "../../assets/styles/variables";

.list-container {
  padding: 0;
  width: 100%;
}
.list-card {
  padding: 16px 0 16px 0;
}

.list-container .mat-list-item {
  height: 100%;
}
// .header,
.list-item {
  width: 100%;
  display: block;
  height: 100%;
  font-size: 14px;
}

.list-item .name {
  font-weight: bold;
}

.header span {
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// mat-list-item:not(:first-child) {
//   cursor: pointer;
//   &:hover {
//     background-color: lightgrey;
//   }
// }

.list-item span {
  font-weight: bold;
}
.list-item-title:hover,
.list-item-title:focus,
.list-item-title.active {
  text-decoration: underline;
}
span {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  // text-align: center;
}
// .decision span {
//   text-align: center;
// }

.actions {
  text-align: right;
}
.actions button {
  margin: 5px;
  margin-bottom: 0;
}

.list-card.mat-card .mat-divider-horizontal {
  position: relative;
}
.list-card.mat-card .mat-list-base {
  padding-top: 0;
}

.input-icon {
  position: absolute;
  right: 0px;
  bottom: 1px;
}
.list-input {
  float: right;
}
.list-input.search-input {
  margin-right: 10px;
}

@media (max-width: $tablet) {
  .list-input {
    width: 50% !important;
    float: left;
  }
  .upload-input {
    width: 100% !important;
  }
  .list-input.search-input {
    margin-right: 0;
  }
  .list-input .inner {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .action-btn {
    float: left !important;
  }
  .col-1 .inner,
  .col-2 .inner {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .col-2 .inner,
  .col-3 .inner {
    margin-top: 0;
    padding-top: 0;
  }
}

.list-input .mat-form-field-wrapper {
  padding-bottom: 0;
}

.action-btn {
  margin: 5px;
  width: 33.33%;
  float: right;
}

.upload-icon {
  left: 20px;
  bottom: 8px;
}

.description {
  color: rgba(0, 0, 0, 0.54);
}
