<div class="decisions">
  <div class="inner">
    <h2>DMN Models</h2>
  </div>
  <div class="list-container">
    <div class="inner">
      <mat-card class="list-card">
        <mat-list class="box-10">
          <div class="inner">
            <ng-container>
              <mat-list-item style="height:0;">
              </mat-list-item>
              <mat-list-item [routerLink]="['/decision-details']">
                <div class="decision">
                  <span style="font-weight:bold;">TT-Aufsichtsratvergütung</span>
                  <span>Value added taxes</span>
                  <span>Placeholder description</span>
                  <span>Placeholder owner</span>
                  <span>DRAFT</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item [routerLink]="['/decision-details']">
                <div class="decision">
                  <span style="font-weight:bold;">TT-Aufsichtsratvergütung</span>
                  <span>Value added taxes</span>
                  <span>Placeholder description</span>
                  <span>Placeholder owner</span>
                  <span>DRAFT</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item [routerLink]="['/decision-details']">
                <div class="decision">
                  <span style="font-weight:bold;">TT-Aufsichtsratvergütung</span>
                  <span>Value added taxes</span>
                  <span>Placeholder description</span>
                  <span>Placeholder owner</span>
                  <span>DRAFT</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item [routerLink]="['/decision-details']">
                <div class="decision">
                  <span style="font-weight:bold;">TT-Aufsichtsratvergütung</span>
                  <span>Value added taxes</span>
                  <span>Placeholder description</span>
                  <span>Placeholder owner</span>
                  <span>DRAFT</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item [routerLink]="['/decision-details']">
                <div class="decision">
                  <span style="font-weight:bold;">TT-Aufsichtsratvergütung</span>
                  <span>Value added taxes</span>
                  <span>Placeholder description</span>
                  <span>Placeholder owner</span>
                  <span>DRAFT</span>
                </div>
              </mat-list-item>
            </ng-container>
          </div>
        </mat-list>
        <div class="box-2">
          <div class="inner">
            <button style="margin:5px;" class="box-12" mat-raised-button color="primary"
              (click)="openUploadDialog()">Upload</button>
            <button style="margin:5px;" class="box-12" mat-raised-button color="primary"
              (click)="openSearchDialog()">Search</button>
            <button style="margin:5px;" class="box-12" mat-raised-button color="primary"
              (click)="openFilterDialog()">Filter</button>
            <button style="margin:5px;" class="box-12" mat-raised-button color="primary"
              (click)="openSortDialog()">Sort</button>
              <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </mat-card>
    </div>
  </div>
