<div class="decisions">
  <div class="inner">
    <h1 class="page-title ">DMN Models</h1>
  </div>
  <div class="list-container">
    <div class="actions-container tablet-hidden">
      <div class="box-2 upload-input">
        <div class="inner">
          <button class="upload-btn" mat-raised-button color="primary" (click)="openUploadDialog()">
            <mat-icon class="input-icon upload-icon" aria-hidden="false" aria-label="Example delete icon">
              cloud_upload</mat-icon>
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="list-input filter-input">
        <div class="inner" style="position: relative;">
          <mat-accordion #myaccordion="matAccordion" (clickOutside)="onClickedOutsideAccordion($event)" multi="true">
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="filter-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                    filter_list</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-card>
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Select filter</mat-label>
                    <mat-select>
                      <mat-option value="1">
                        Name
                      </mat-option>
                      <mat-option value="2">
                        Category
                      </mat-option>
                      <mat-option value="2">
                        Description
                      </mat-option>
                      <mat-option value="2">
                        Owner
                      </mat-option>
                      <mat-option value="2">
                        State
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>Value</mat-label>
                    <input matInput placeholder="Ex. Lorem" value="Lorem ipsum" />
                  </mat-form-field>
                </p>
              </mat-card>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="list-input search-input">
        <div class="inner">
          <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="Ex. Lorem" value="Lorem ipsum" />
            <a href="javascript:;" title="search">
              <mat-icon class="input-icon search-icon" aria-hidden="false" aria-label="Example delete icon">search
              </mat-icon>
            </a>
          </mat-form-field>
        </div>
      </div>
      <div class="list-input">
        <div class="inner">
          <mat-form-field>
            <mat-label>Sort by</mat-label>
            <mat-select>
              <mat-option value="1">
                Name
              </mat-option>
              <mat-option value="2">
                Category
              </mat-option>
              <mat-option value="2">
                Description
              </mat-option>
              <mat-option value="2">
                Owner
              </mat-option>
              <mat-option value="2">
                State
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-------->
    <div class="actions-container tablet-displayed">
      <div class="mobile-list-actions box-mobile-9 box-tablet-9">
        <div class="inner">
          <button class="upload-btn" mat-raised-button color="primary" (click)="openUploadDialog()">
            <mat-icon class="input-icon upload-icon" aria-hidden="false" aria-label="Example delete icon">
              cloud_upload</mat-icon>
          </button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="mobile-list-actions list-inputs box-mobile-3 box-tablet-3">
        <div class="box-mobile-12 box-tablet-12">
          <div class="inner">
            <mat-accordion class="actions-accordion"
            #myaccordionTablet="matAccordion"
            (clickOutside)="onClickedOutsideAccordionTablet($event)"
            multi="true"
            [clickOutsideEvents]="'click,touchstart'"
            [exclude]="'.mat-option'"
            [excludeBeforeClick]="'.mat-option'">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="more-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      more_vert</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card>

                  <!---->
                    <div class="inner">
                      <mat-accordion class="filter-accordion-tablet"
                      multi="true"
                      #myaccordionTabletFilter="matAccordion" >
                        <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton"
                                color="primary">
                                filter_list</mat-icon>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Select filter</mat-label>
                                <mat-select>
                                  <mat-option value="1">
                                    Name
                                  </mat-option>
                                  <mat-option value="2">
                                    Category
                                  </mat-option>
                                  <mat-option value="2">
                                    Description
                                  </mat-option>
                                  <mat-option value="2">
                                    Owner
                                  </mat-option>
                                  <mat-option value="2">
                                    State
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </p>
                            <p>
                              <mat-form-field class="example-full-width">
                                <mat-label>Value</mat-label>
                                <input matInput placeholder="Ex. Lorem" value="Lorem ipsum" />
                              </mat-form-field>
                            </p>
                        </mat-expansion-panel>
                      </mat-accordion>
                    </div>
                  <div class="list-input search-input">
                    <div class="inner">
                      <mat-form-field>
                        <mat-label>Search</mat-label>
                        <input matInput placeholder="Ex. Lorem" value="" />
                        <a href="javascript:;" title="search">
                          <mat-icon class="input-icon search-icon" aria-hidden="false" aria-label="Example delete icon">
                            search
                          </mat-icon>
                        </a>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="list-input">
                    <div class="inner">
                      <mat-form-field>
                        <mat-label>Sort by</mat-label>
                        <mat-select>
                          <mat-option value="1">
                            Name
                          </mat-option>
                          <mat-option value="2">
                            Category
                          </mat-option>
                          <mat-option value="2">
                            Description
                          </mat-option>
                          <mat-option value="2">
                            Owner
                          </mat-option>
                          <mat-option value="2">
                            State
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </mat-card>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>
    </div>
    <!-------->
    <div class="items-list">
      <div class="inner">
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung</div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung TT-Aufsichtsratvergütung Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung example </div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung example </div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung example </div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <!--card item-->
        <mat-list-item class="list-item">
          <mat-card class="list-card" [routerLink]="['/decision-details']">
            <div class="box-12">
              <div class="box-4 item-name">
                <div class="inner">
                  <div>TT-Aufsichtsratvergütung example </div>
                </div>
              </div>
              <div class="box-7 item-details">
                <div class="inner">
                  <div>Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta. Pastrami beef tongue, doner short ribs pig sausage capicola ham landjaeger leberkas pork
                    fatback
                    pancetta.</div>
                </div>
              </div>
              <div class="box-1 item-actions">
                <div class="inner">
                  <div class="box-12" [routerLink]="['/wizard']">
                    <mat-icon class="play-icon" aria-hidden="false" aria-label="Run decision buton" color="primary">
                      play_circle_outline</mat-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </mat-card>
        </mat-list-item>
        <!-- / card item-->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
