@import "../../assets/styles/variables";
@import "../../assets/styles/global";

span {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.page-title {
  margin-bottom: 0;
}

/*list*/
.list-container {
  padding: 0;
  width: 100%;
}

.list-card {
  cursor: pointer;
  &:hover {
    background-color: lightgrey;
  }
  padding: 16px 0 16px 0;
  margin: 5px 0;
  height: 48px;
}

.items-list .inner {
  margin-top: 0;
  padding-top: 0;
}

.list-item {
  width: 100%;
  display: block;
  height: 100%;
  font-size: 14px;
}

.list-item .name {
  font-weight: bold;
}

.upload-input .inner {
  padding-top: 20px;
}

/*list item*/

.item-details {
  color: rgba(0, 0, 0, 0.54);
}

.item-actions .inner,
.item-details .inner,
.item-name .inner {
  margin: 0 10px;
  padding: 0 10px;
}

.item-name .inner div,
.item-details .inner div {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.item-name div {
  margin-bottom: 0;
  font-size: 15px;
  color: $primary-color;
  font-weight: bold;
}

/*icons*/
.more-icon,
.play-icon {
  position: relative;
  cursor: pointer;
  &:hover {
    color: #333333;
  }
  left: 30px;
  bottom: 7px;
  font-size: 30px;
}

::ng-deep .item-actions .mat-accordion {
  position: absolute;
  bottom: -32px;
  right: 0;
  height: 48px;
  width: 50px;
  z-index: 1;
}
::ng-deep .item-actions .mat-accordion .mat-expansion-panel-header {
  //height: 30px !important;
  max-height: 48px !important;
  width: 50px;
  padding: 0 5px;
}
::ng-deep .item-actions .mat-accordion .mat-expansion-panel-header:hover,
::ng-deep .item-actions .mat-accordion .mat-expansion-panel-header:focus,
::ng-deep .item-actions .mat-accordion .mat-expansion-panel-header.active {
  background: transparent !important;
}
::ng-deep .item-actions .mat-expansion-indicator {
  display: none;
}
::ng-deep .item-actions .more-icon {
  left: 0;
  bottom: 0px;
  font-size: 20px;
}
::ng-deep .item-actions .mat-accordion .mat-expansion-panel:last-of-type {
  box-shadow: none;
  background: transparent;
  overflow: visible;
}
::ng-deep .item-actions .mat-accordion .mat-expansion-panel-body {
  padding: 0;
  min-width: 130px;
}
/*dark theme*/
::ng-deep .dark-theme .item-details {
  color: #ffffff;
}

/*Responsive*/
@media (max-width: $tablet) {
  .list-card {
    height: 80px;
  }
  .more-icon,
  .play-icon {
    left: -25px !important;
    bottom: 20px !important;
    font-size: 35px;
    height: 35px;
    width: 35px;
    position: relative !important;
  }

  .item-name {
    margin-bottom: 10px;
  }

  .item-name,
  .item-details {
    width: 90%;
  }

  .item-actions {
    width: 10%;
  }

  ::ng-deep .item-actions .mat-accordion {
    bottom: -20px;
  }
  ::ng-deep .item-actions .more-icon {
    left: 0 !important;
    bottom: 0 !important;
  }

  ::ng-deep .item-actions .mat-card {
    right: 60px;
  }
}
