.list-container {
  padding: 0;
  width: 100%;
}
.list-card {
  padding: 16px 0 16px 0;
}

.header,
.list-item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header span {
  font-weight: bold;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list-item {
  font-size: 14px;
  justify-content: initial;
}
.list-item .name {
  font-weight: bold;
}

mat-list-item:not(:first-child) {
  cursor: pointer;

  &:hover {
    background-color: lightgrey;
  }
}

span {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.actions {
  text-align: right;
}
.actions button {
  margin: 5px;
  margin-bottom: 0;
}

.list-card.mat-card .mat-divider-horizontal {
  position: relative;
}
.list-card.mat-card .mat-list-base {
  padding-top: 0;
}

.input-icon {
  position: absolute;
  right: 0px;
  bottom: 1px;
}
.list-input {
  float: right;
}
.list-input.search-input {
  margin-right: 10px;
}

.list-input .mat-form-field-wrapper {
  padding-bottom: 0;
}

.upload-btn {
  margin: 5px;
}

.upload-icon {
  left: 20px;
  bottom: 8px;
}
