<div class="user-settings">
  <div class="user-settings-container">
    <mat-sidenav-container class="user-settings-sidenav-container">
      <mat-sidenav mode="side" opened class="user-settings-sidenav mat-drawer-side" style="transform: none;
      visibility: visible;">
        <mat-nav-list>
          <a mat-list-item (click)="displayProfileComponent()" [ngClass]="(showProfileComponent)?'active':''">
            <mat-icon>account_circle</mat-icon> <span class="nav-caption">Profile </span>
          </a>
          <a mat-list-item (click)="displayAppSettingsComponent()" [ngClass]="(showAppSettingsComponent)?'active':''">
            <mat-icon>settings</mat-icon> <span class="nav-caption">App</span>
          </a>
          <a mat-list-item (click)="displayFavouritesSettingsComponent()" [ngClass]="(showFavouritesSettingsComponent)?'active':''">
            <mat-icon>star</mat-icon><span class="nav-caption">Favourites </span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="user-settings-sidenav-content">
        <div *ngIf="showProfileComponent">
          <div class="settings-container profile-settings-container">
            <div class="settings-header-container">
              <div class="inner mb0 pb0">
                <h6 class="page-title ">User settings</h6>
                <h2 class="page-title ">Profile Settings</h2>
              </div>
            </div>
            <div class="profile-container">
              <div class="inner">
                <mat-card>
                  <form [formGroup]="profileSettingsForm">
                    <div class="inner">
                      <p>
                        <span class="custom-label">Username:
                        </span><br>
                        <span>{{userName}}</span>
                      </p>
                      <p>
                        <span class="custom-label">Roles:
                        </span><br>
                        <span *ngIf="admin!=''">- {{admin}}</span><br>
                        <span *ngIf="decisionOwner!=''">- {{decisionOwner}}</span><br>
                        <span *ngIf="modeler!=''">- {{modeler}}</span><br>
                        <span *ngIf="techAdmin!=''">- {{techAdmin}}</span><br>
                        <span *ngIf="userRole!=''">- {{userRole}}</span><br>
                      </p>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="showAppSettingsComponent">
          <div class="settings-container app-settings-container">
            <div class="settings-header-container">
              <div class="inner mb0 pb0">
                <h6 class="page-title ">User settings</h6>
                <h2 class="page-title ">App Settings</h2>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="app-container">
              <div class="inner">
                <mat-card>
                  <form [formGroup]="appSettingsForm">
                    <div class="inner">
                      <p>
                        <mat-form-field class="example-full-width">
                          <mat-label>Theme</mat-label>
                          <mat-select value="WTS" formControlName="appTheme" (selectionChange)="changeTheme($event.value)">
                            <mat-option value="light-theme">
                              WTS
                            </mat-option>
                            <mat-option value="daimler-theme">
                              Daimler
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field class="example-full-width">
                          <mat-label>Mode</mat-label>
                          <mat-select value="Light" formControlName="appMode" (selectionChange)="changeMode($event.value)">
                            <mat-option value="light-theme">
                              Light
                            </mat-option>
                            <mat-option value="dark-theme">
                              Dark
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>
                      <p>
                        <mat-form-field class="example-full-width">
                          <mat-label>Language</mat-label>
                          <mat-select value="en" formControlName="appLanguage" (selectionChange)="setLanguage($event.value)">
                            <mat-option value="en">
                              English
                            </mat-option>
                            <mat-option value="ge">
                              German
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </p>
                    </div>
                  </form>
                </mat-card>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="showFavouritesSettingsComponent">
          <div class="settings-container favourites-settings-container">
            <div class="settings-header-container">
              <div class="box-9">
                <div class="inner">
                  <h6 class="page-title ">User settings</h6>
                  <h2 class="page-title ">Favourites Settings</h2>
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="favourites-container">
              <!--loading spinner-->
              <ng-template #loadingSpinnerStarredDecisions>
                <div class="spinner-wrapper decisions-spinner">
                  <mat-spinner></mat-spinner>
                </div>
              </ng-template>
              <!-- / loading spinner-->
              <div class="list-wrapper" *ngIf="starredDecisions as decisions; else loadingSpinnerStarredDecisions">
                <mat-list-item class="list-item" *ngFor="let decision of starredDecisions">
                  <!--card item-->
                  <mat-card class="list-card" style="cursor: default;">
                    <div class="box-12">
                      <div class="box-9 item-name">
                        <div class="inner">
                          <div *ngIf="decision.name; else nbspDiv">{{ decision.name }}</div>
                          <ng-template #nbspDiv>
                            &nbsp;
                          </ng-template>
                        </div>
                      </div>
                      <div class="box-1 item-details report-item-action" style="text-align: right;cursor: pointer;">
                        <div (click)="removeAsFavourite(decision.key)">
                          <mat-icon class="item-actions-icon" aria-hidden="false" aria-label="Set as favourtie" color="primary"
                            matTooltip="Remove Favourite" style="font-size: 25px;
                            line-height: 15px;
                            margin-right: 16px;">remove_circle_outline
                          </mat-icon>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </mat-card>
                  <!-- / card item-->
                  <div class="clearfix"></div>
                </mat-list-item>
              </div>
            </div>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
