<div _nghost-mca-c249="" class="ng-star-inserted">
  <div _ngcontent-mca-c249="" class="user-settings">
    <div _ngcontent-mca-c249="" class="user-settings-container">
      <mat-sidenav-container _ngcontent-mca-c249=""
        class="mat-drawer-container mat-sidenav-container user-settings-sidenav-container">
        <div class="mat-drawer-backdrop ng-star-inserted"></div>
        <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
        <div class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true"></div>
        <mat-sidenav _ngcontent-mca-c249="" tabindex="-1" mode="side" opened=""
          class="mat-drawer mat-sidenav user-settings-sidenav mat-drawer-side ng-tns-c69-152 ng-trigger ng-trigger-transform mat-drawer-opened ng-star-inserted"
          style="transform: none; visibility: visible;" ng-reflect-mode="side" ng-reflect-opened="">
          <div class="mat-drawer-inner-container ng-tns-c69-152">
            <mat-nav-list _ngcontent-mca-c249="" role="navigation" class="mat-nav-list mat-list-base ng-tns-c69-152"><a
                _ngcontent-mca-c249="" mat-list-item="" class="mat-list-item mat-focus-indicator active"
                ng-reflect-ng-class="active">
                <div class="mat-list-item-content">
                  <div mat-ripple="" class="mat-ripple mat-list-item-ripple" ng-reflect-trigger=""
                    ng-reflect-disabled="false"></div>
                  <div class="mat-list-text"></div>
                  <mat-icon _ngcontent-mca-c249="" role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">account_circle
                  </mat-icon><span _ngcontent-mca-c249="" class="nav-caption">Profile</span>
                </div>
              </a><a _ngcontent-mca-c249="" mat-list-item="" class="mat-list-item mat-focus-indicator"
                ng-reflect-ng-class="">
                <div class="mat-list-item-content">
                  <div mat-ripple="" class="mat-ripple mat-list-item-ripple" ng-reflect-trigger=""
                    ng-reflect-disabled="false"></div>
                  <div class="mat-list-text"></div>
                  <mat-icon _ngcontent-mca-c249="" role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">settings</mat-icon>
                  <span _ngcontent-mca-c249="" class="nav-caption">App</span>
                </div>
              </a><a _ngcontent-mca-c249="" mat-list-item="" class="mat-list-item mat-focus-indicator"
                ng-reflect-ng-class="">
                <div class="mat-list-item-content">
                  <div mat-ripple="" class="mat-ripple mat-list-item-ripple" ng-reflect-trigger=""
                    ng-reflect-disabled="false"></div>
                  <div class="mat-list-text"></div>
                  <mat-icon _ngcontent-mca-c249="" role="img"
                    class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">star</mat-icon>
                  <span _ngcontent-mca-c249="" class="nav-caption">Favourites</span>
                </div>
              </a></mat-nav-list>
          </div>
        </mat-sidenav>
        <div class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true"></div>
        <mat-sidenav-content _ngcontent-mca-c249=""
          class="mat-drawer-content mat-sidenav-content user-settings-sidenav-content" style="margin-left: 200px;">
          <div _ngcontent-mca-c249="" _nghost-mca-c245="" class="ng-star-inserted">
            <div _ngcontent-mca-c245="" class="settings-container profile-settings-container">
              <div _ngcontent-mca-c245="" class="settings-header-container">
                <div _ngcontent-mca-c245="" class="inner mb0 pb0">
                  <h6 _ngcontent-mca-c245="" class="page-title">User settings</h6>
                  <h2 _ngcontent-mca-c245="" class="page-title">Profile Settings</h2>
                </div>
              </div>
              <div _ngcontent-mca-c245="" class="profile-container">
                <div _ngcontent-mca-c245="" class="inner">
                  <mat-card _ngcontent-mca-c245="" class="mat-card mat-focus-indicator">
                    <form _ngcontent-mca-c245="" novalidate="" ng-reflect-form="[object Object]"
                      class="ng-untouched ng-pristine ng-valid">
                      <div _ngcontent-mca-c245="" class="inner">
                        <p _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="custom-label">Username: </span><br
                            _ngcontent-mca-c245=""><span _ngcontent-mca-c245="">FakeFirstname FakeLastname</span></p>
                        <p _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="custom-label">Roles: </span><br
                            _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="ng-star-inserted">- Admin</span>
                          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><br _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="ng-star-inserted">- Decision Owner</span>
                          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><br _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="ng-star-inserted">- Modeler</span>
                          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><br _ngcontent-mca-c245=""><span _ngcontent-mca-c245="" class="ng-star-inserted">- Tech Admin</span>
                          <!--bindings={
  "ng-reflect-ng-if": "true"
}--><br _ngcontent-mca-c245="">
                          <!--bindings={
  "ng-reflect-ng-if": "false"
}--><br _ngcontent-mca-c245=""></p>
                      </div>
                    </form>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
          <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
          <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
          <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
        </mat-sidenav-content>
        <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
      </mat-sidenav-container>
    </div>
  </div>
</div>
