@import "../../assets/styles/_variables.scss";
span {
  width: 200px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: center;
}

.detail-name {
  font-weight: bold;
}

@media (max-width: $mobile) {
  .custom-card .inner {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

.icon-link:hover .mat-icon,
.icon-link:focus .mat-icon,
.icon-link.active .mat-icon {
  color: $primary-color;
}

.icon-link .mat-line {
  font-size: 14px;
  font-weight: 500;
}
