<div _ngcontent-mca-c243="" class="details-page-container report-details">
  <div _ngcontent-mca-c243="" class="box-3 documents-container report-details-container">
    <div _ngcontent-mca-c243="" class="inner">
      <mat-card _ngcontent-mca-c243="" class="mat-card mat-focus-indicator custom-card details-card ng-star-inserted">
        <span _ngcontent-mca-c243="" class="docs-title-wrapper info-wrapper">
          <h3 _ngcontent-mca-c243="" class="ellipsis" ng-reflect-message="Information"
            aria-describedby="cdk-describedby-message-13" cdk-describedby-host=""> Information</h3>
          <!--container-->
        </span>
        <div _ngcontent-mca-c243="" class="clearfix"></div>
        <div _ngcontent-mca-c243="" class="inner">
          <p _ngcontent-mca-c243="" class="details-item"><span _ngcontent-mca-c243=""
              class="detail-name ellipsis">Decision name:</span></p>
          <p _ngcontent-mca-c243=""><span _ngcontent-mca-c243="" class="ellipsis"
              ng-reflect-message="3-Monatsregel (v66.0.0)" aria-describedby="cdk-describedby-message-14"
              cdk-describedby-host="">3-Monatsregel (v66.0.0)</span>
            <!--container-->
          </p>
          <p _ngcontent-mca-c243="" class="details-item"><span _ngcontent-mca-c243=""
              class="detail-name ellipsis">Date:</span></p>
          <p _ngcontent-mca-c243=""><span _ngcontent-mca-c243="" class="ellipsis">11.11.2020</span></p>
          <p _ngcontent-mca-c243="" class="details-item"><span _ngcontent-mca-c243=""
              class="detail-name ellipsis">Owner:</span></p>
          <p _ngcontent-mca-c243="" style="margin-bottom: 0;"><span _ngcontent-mca-c243="" class="ellipsis">User,
              Dummy</span></p><br _ngcontent-mca-c243="">
        </div>
        <div _ngcontent-mca-c243="" class="clearfix"></div>
      </mat-card>
      <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
      <mat-card _ngcontent-mca-c243="" class="mat-card mat-focus-indicator example-card">
        <div _ngcontent-mca-c243=""><span _ngcontent-mca-c243="" class="docs-title-wrapper">
            <h3 _ngcontent-mca-c243="" class="ellipsis" ng-reflect-message="Documents"
              aria-describedby="cdk-describedby-message-10" cdk-describedby-host=""> Documents</h3>
            <!--container-->
          </span>
          <div _ngcontent-mca-c243="" class="icon-link-wrapper"><button _ngcontent-mca-c243="" mat-button=""
              color="accent" class="mat-focus-indicator icon-link mat-button mat-button-base mat-accent"
              ng-reflect-color="accent"><span class="mat-button-wrapper">
                <mat-icon _ngcontent-mca-c243="" role="img" aria-label="Edit documents"
                  class="mat-icon notranslate material-icons mat-icon-no-color ng-star-inserted" aria-hidden="true"
                  ng-reflect-message="Edit" aria-describedby="cdk-describedby-message-12" cdk-describedby-host="">edit
                </mat-icon>
                <!--container-->
                <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
                <!--bindings={}-->
              </span>
              <div matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false"
                ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></div>
              <div class="mat-button-focus-overlay"></div>
            </button></div>
          <div _ngcontent-mca-c243="" class="clearfix"></div>
        </div>
        <div _ngcontent-mca-c243="" class="ng-star-inserted">
          <div _ngcontent-mca-c243="" _nghost-mca-c241="" class="ng-tns-c241-74 ng-star-inserted"
            ng-reflect-folder-name="844f3f08-baae-4efb-83ef-a98c77">
            <mat-list _ngcontent-mca-c241="" class="mat-list mat-list-base ng-tns-c241-74">
              <!--bindings={
  "ng-reflect-ng-for-of": ""
}-->&nbsp;
            </mat-list>
          </div>
          <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
          <!--bindings={}-->
        </div>
        <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
      </mat-card>
    </div>
  </div>
  <div _ngcontent-mca-c243="" class="box-9 details-container">
    <div _ngcontent-mca-c243="" class="box-9">
      <div _ngcontent-mca-c243="" class="inner mb0 pb0">
        <p _ngcontent-mca-c243="" class="h6">Report Details</p>
        <h2 _ngcontent-mca-c243="" class="ng-star-inserted"> Report 10</h2>
        <!--bindings={
  "ng-reflect-ng-if": "true"
}-->
      </div>
    </div>
    <div _ngcontent-mca-c243="" class="box-3 details-actions-container">
      <div _ngcontent-mca-c243="" class="inner details-actions">
        <div class="item-actions decision-actions">
          <div class="inner">
            <mat-accordion class="item-accordion list-card" #listAccordion="matAccordion" multi="true">
              <mat-expansion-panel clickOutside (clickOutside)="listAccordion.closeAll()">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon class="more-icon" aria-hidden="false" aria-label="Item actions" color="primary">
                      more_vert</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card class="item-actions-wrapper">
                  <div class="report-item-action">
                    <p class="ellipsis" matTooltip="Send Report As Email">
                      <mat-icon class="item-actions-icon" aria-hidden="false" aria-label="Send report as e-mail"
                        color="primary">email
                      </mat-icon>&nbsp;<span
                        class="action-text">Send Report As Email</span>
                    </p>
                  </div>
                </mat-card>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div _ngcontent-mca-c243="" class="report-btn download-report-btn">
          <mat-icon _ngcontent-mca-c243="" role="img" aria-hidden="false" aria-label="Download report" color="primary"
            class="mat-icon notranslate play-icon mat-primary material-icons" ng-reflect-color="primary"
            ng-reflect-message="Download report"> cloud_download</mat-icon>
          <!--container-->
        </div>
        <div _ngcontent-mca-c243="" class="report-btn back-btn" [routerLink]="['/reports']">
          <mat-icon _ngcontent-mca-c243="" role="img" aria-hidden="false" aria-label="Go back" color="primary"
            class="mat-icon notranslate play-icon mat-primary material-icons" ng-reflect-color="primary"
            ng-reflect-message="Go back"> arrow_back</mat-icon>
          <!--container-->
        </div>
        <div _ngcontent-mca-c243="" class="clearfix"></div>
      </div>
    </div>
    <div _ngcontent-mca-c243="" class="box-12">
      <div _ngcontent-mca-c243="" class="inner mt0 pt0">
        <mat-card _ngcontent-mca-c243="" class="mat-card mat-focus-indicator custom-card ng-star-inserted"
          style="margin-top: 10px;">
          <div _ngcontent-mca-c243="" class="inner mt0 pt0">
            <p _ngcontent-mca-c243="" class="h6"><span _ngcontent-mca-c243="">Report result:</span></p>
            <div _ngcontent-mca-c243="" class="report-result">
              <p _ngcontent-mca-c243="">Eine Bewirtung ist unter diesen Umständen nicht erlaubt</p>
            </div>
          </div>
        </mat-card>
        <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
        <mat-card _ngcontent-mca-c243="" class="mat-card mat-focus-indicator custom-card ng-star-inserted"
          style="margin-top: 10px;">
          <div _ngcontent-mca-c243="" class="inner">
            <p _ngcontent-mca-c243="" class="mb0"><span _ngcontent-mca-c243="" class="h6">Report answers:</span></p>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 report-details-table">
              <!-- Position Column -->
              <ng-container matColumnDef="Question">
                <th mat-header-cell *matHeaderCellDef> Questions. </th>
                <td mat-cell *matCellDef="let element"> {{element.question}} </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="Answer">
                <th mat-header-cell *matHeaderCellDef> Answers </th>
                <td mat-cell *matCellDef="let element"> {{element.answer}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card>
        <!--bindings={
  "ng-reflect-ng-if": "[object Object]"
}-->
      </div>
    </div>
    <div _ngcontent-mca-c243="" class="clearfix"></div>
  </div>
  <div _ngcontent-mca-c243="" class="clearfix"></div>
</div>
